$white-color: white;
$light-gray-white-color: #D1E2D8;
$yellow-color: #F2E162;
$pale-light-green-color: #44AF72;
$light-green-border-color: #488964;
$pale-green-color: #52B27B;
$green-color: #1B7642;
$deep-green-color: #0F5C30;
$dark-green-color: #186a3b;
$dark-green-background-color: #1B6D3E;
$deep-blue-color: #265781;
$dark-gray-color: #393939;
$brown-color: #3F3531;
$gray-color:#505050;
$light-black: #272727;
$black-color: black;

$primary-font: "Lato";
$secondary-font: "Fira sans-serif";

$irrigation-title: "../images/cover-image.png";